USE [master]
GO
/****** Object:  Database [pharma]    Script Date: 12/4/2025 4:06:46 PM ******/
CREATE DATABASE [pharma]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pharma_data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\pharma.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10240KB )
 LOG ON 
( NAME = N'pharma_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\pharma_log.ldf' , SIZE = 5120KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pharma].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER AUTHORIZATION ON DATABASE::[pharma] TO [sa]
GO
USE [pharma]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/4/2025 4:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Categories] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Customers] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[DetailId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[LineTotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[InvoiceDetails] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[Symptom] [nvarchar](255) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[CashGiven] [decimal](18, 2) NULL,
	[ChangeAmount] [decimal](18, 2) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CustomerId] [int] NULL,
	[StaffId] [int] NULL,
	[StaffName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Invoices] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionKey] [nvarchar](100) NOT NULL,
	[PermissionName] [nvarchar](200) NOT NULL,
	[Module] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Permissions] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[ProductId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[ProductCategories] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Manufacturer] [nvarchar](255) NULL,
	[ExpiredDate] [date] NULL,
	[SupplierId] [int] NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[Barcode] [nvarchar](100) NULL,
	[CategoryId] [int] NOT NULL,
	[Image] [varbinary](max) NULL,
	[ImagePath] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Products] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[ReceiptDetails]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptDetails](
	[ReceiptDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[LineTotal] [decimal](18, 2) NOT NULL,
	[BatchNo] [nvarchar](50) NULL,
	[ExpiredDate] [date] NULL,
	[RowNote] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[ReceiptDetails] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Receipts]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipts](
	[ReceiptId] [int] IDENTITY(1,1) NOT NULL,
	[VoucherNumber] [nvarchar](50) NOT NULL,
	[SupplierId] [int] NULL,
	[ReceiptDate] [date] NOT NULL,
	[Note] [nvarchar](255) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[WarehouseId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Receipts] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[RolePermissions] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Roles] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[StaffCode] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [varchar](15) NOT NULL,
	[HireDate] [date] NOT NULL,
	[Degree] [nvarchar](50) NULL,
	[LicenseExpireDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UserId] [int] NULL,
	[Address] [nvarchar](200) NULL,
	[LicenseNo] [nvarchar](50) NULL,
	[LicenseIssueDate] [date] NULL,
	[AvatarPath] [nvarchar](260) NULL,
	[BirthDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Staff] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](255) NOT NULL,
	[SupplierPhone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Suppliers] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Users] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[WarehouseId] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseName] [nvarchar](100) NOT NULL,
	[WarehouseCode] [varchar](20) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Warehouses] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[WarehouseStock]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseStock](
	[StockId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[BatchNo] [nvarchar](50) NULL,
	[ExpiredDate] [date] NULL,
	[Location] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[WarehouseStock] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (7, N'Chưa phân loại')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (5, N'Dụng cụ y tế')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (3, N'Dược mỹ phẩm')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [FullName], [PhoneNumber], [CreatedAt]) VALUES (1, N'Tên khách hàng:', N'0364790048', CAST(N'2025-11-19T16:47:58.017' AS DateTime))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [PhoneNumber], [CreatedAt]) VALUES (2, N'huyen', N'0364790049', CAST(N'2025-11-19T17:12:44.110' AS DateTime))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [PhoneNumber], [CreatedAt]) VALUES (3, N'Khánh Huyền', N'0123456789', CAST(N'2025-11-20T22:20:41.173' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetails] ON 

INSERT [dbo].[InvoiceDetails] ([DetailId], [InvoiceId], [ProductId], [Quantity], [UnitPrice], [LineTotal]) VALUES (23, 26, 9, 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[InvoiceDetails] ([DetailId], [InvoiceId], [ProductId], [Quantity], [UnitPrice], [LineTotal]) VALUES (24, 26, 12, 1, CAST(2000.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)))
INSERT [dbo].[InvoiceDetails] ([DetailId], [InvoiceId], [ProductId], [Quantity], [UnitPrice], [LineTotal]) VALUES (25, 27, 12, 1, CAST(2000.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[InvoiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceId], [CreatedAt], [CustomerName], [Symptom], [TotalAmount], [PaymentMethod], [CashGiven], [ChangeAmount], [Status], [CustomerId], [StaffId], [StaffName]) VALUES (1, CAST(N'2025-11-19T16:34:40.133' AS DateTime), N'Tên khách hàng:', N'Triệu chứng:', CAST(136500.00 AS Decimal(18, 2)), N'Tiền mặt', CAST(200000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Paid', NULL, NULL, NULL)
INSERT [dbo].[Invoices] ([InvoiceId], [CreatedAt], [CustomerName], [Symptom], [TotalAmount], [PaymentMethod], [CashGiven], [ChangeAmount], [Status], [CustomerId], [StaffId], [StaffName]) VALUES (2, CAST(N'2025-11-19T16:34:56.377' AS DateTime), N'Tên khách hàng:', N'Triệu chứng:', CAST(136500.00 AS Decimal(18, 2)), N'Tiền mặt', CAST(200000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Paid', NULL, NULL, NULL)
INSERT [dbo].[Invoices] ([InvoiceId], [CreatedAt], [CustomerName], [Symptom], [TotalAmount], [PaymentMethod], [CashGiven], [ChangeAmount], [Status], [CustomerId], [StaffId], [StaffName]) VALUES (3, CAST(N'2025-11-19T16:39:45.013' AS DateTime), N'Tên khách hàng:', N'Triệu chứng:', CAST(5000.00 AS Decimal(18, 2)), N'Tiền mặt', CAST(10000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), N'Paid', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([PermissionId], [PermissionKey], [PermissionName], [Module], [IsActive]) VALUES (1, N'DASHBOARD_VIEW', N'Xem dashboard', N'Dashboard', 1)
INSERT [dbo].[Permissions] ([PermissionId], [PermissionKey], [PermissionName], [Module], [IsActive]) VALUES (2, N'STAFF_VIEW', N'Xem danh sách nhân viên', N'Staff', 1)
INSERT [dbo].[Permissions] ([PermissionId], [PermissionKey], [PermissionName], [Module], [IsActive]) VALUES (3, N'STAFF_EDIT', N'Thêm / Sửa nhân viên', N'Staff', 1)
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
INSERT [dbo].[ProductCategories] ([ProductId], [CategoryId]) VALUES (9, 1)
INSERT [dbo].[ProductCategories] ([ProductId], [CategoryId]) VALUES (11, 3)
INSERT [dbo].[ProductCategories] ([ProductId], [CategoryId]) VALUES (12, 1)
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductCode], [ProductName], [UnitPrice], [StockQuantity], [Unit], [Description], [Manufacturer], [ExpiredDate], [SupplierId], [SalePrice], [Barcode], [CategoryId], [Image], [ImagePath], [IsActive]) VALUES (9, N'SP000006', N'Enervon-C', CAST(0.00 AS Decimal(18, 2)), 95, N'Hộp', NULL, N'United Pharma (Việt Nam)', NULL, 3, CAST(7500.00 AS Decimal(18, 2)), N'8930000060', 1, NULL, NULL, 1)
INSERT [dbo].[Products] ([ProductId], [ProductCode], [ProductName], [UnitPrice], [StockQuantity], [Unit], [Description], [Manufacturer], [ExpiredDate], [SupplierId], [SalePrice], [Barcode], [CategoryId], [Image], [ImagePath], [IsActive]) VALUES (11, N'SP000007', N'La Roche-Posay Effaclar Duo+', CAST(0.00 AS Decimal(18, 2)), 0, N'Hộp', NULL, N'La Roche-Posay (L’Oréal)', CAST(N'2029-01-01' AS Date), 3, CAST(365000.00 AS Decimal(18, 2)), N'8930000110', 1, NULL, NULL, 1)
INSERT [dbo].[Products] ([ProductId], [ProductCode], [ProductName], [UnitPrice], [StockQuantity], [Unit], [Description], [Manufacturer], [ExpiredDate], [SupplierId], [SalePrice], [Barcode], [CategoryId], [Image], [ImagePath], [IsActive]) VALUES (12, N'SP000008', N'Alpha Choay', CAST(2000.00 AS Decimal(18, 2)), 0, N'Hộp', NULL, N'Sanofi Việt Nam', CAST(N'2026-01-01' AS Date), 5, CAST(9500.00 AS Decimal(18, 2)), N'8930000080', 1, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ReceiptDetails] ON 

INSERT [dbo].[ReceiptDetails] ([ReceiptDetailId], [ReceiptId], [ProductId], [Quantity], [UnitPrice], [LineTotal], [BatchNo], [ExpiredDate], [RowNote]) VALUES (6, 6, 9, 98, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'a', NULL, NULL)
INSERT [dbo].[ReceiptDetails] ([ReceiptDetailId], [ReceiptId], [ProductId], [Quantity], [UnitPrice], [LineTotal], [BatchNo], [ExpiredDate], [RowNote]) VALUES (8, 9, 11, 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, CAST(N'2029-01-01' AS Date), NULL)
INSERT [dbo].[ReceiptDetails] ([ReceiptDetailId], [ReceiptId], [ProductId], [Quantity], [UnitPrice], [LineTotal], [BatchNo], [ExpiredDate], [RowNote]) VALUES (9, 10, 12, 2, CAST(2000.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), N'2', CAST(N'2026-01-01' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[ReceiptDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Receipts] ON 

INSERT [dbo].[Receipts] ([ReceiptId], [VoucherNumber], [SupplierId], [ReceiptDate], [Note], [TotalAmount], [CreatedAt], [WarehouseId]) VALUES (1, N'PN20251123-0001', 1, CAST(N'2025-11-23' AS Date), NULL, CAST(22000.00 AS Decimal(18, 2)), CAST(N'2025-11-23T03:01:23.707' AS DateTime), 1)
INSERT [dbo].[Receipts] ([ReceiptId], [VoucherNumber], [SupplierId], [ReceiptDate], [Note], [TotalAmount], [CreatedAt], [WarehouseId]) VALUES (2, N'PN20251123-0002', 1, CAST(N'2025-11-23' AS Date), NULL, CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-11-23T03:06:45.777' AS DateTime), 1)
INSERT [dbo].[Receipts] ([ReceiptId], [VoucherNumber], [SupplierId], [ReceiptDate], [Note], [TotalAmount], [CreatedAt], [WarehouseId]) VALUES (3, N'PN20251123-0003', 1, CAST(N'2025-11-23' AS Date), NULL, CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-11-23T03:09:25.577' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Receipts] OFF
GO
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (1, 1)
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (1, 2)
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'Quản trị viên')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (2, N'Pharmacist', N'Dược sĩ')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (3, N'Dược sĩ', N'Nhân viên bán hàng, tư vấn')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([StaffId], [StaffCode], [FullName], [Gender], [Email], [Phone], [HireDate], [Degree], [LicenseExpireDate], [IsActive], [CreatedAt], [UserId], [Address], [LicenseNo], [LicenseIssueDate], [AvatarPath], [BirthDate]) VALUES (3, N'DS001', N'thu', N'Nữ', NULL, N'0364790049', CAST(N'2025-11-27' AS Date), N'ĐH', CAST(N'2028-01-27' AS Date), 0, CAST(N'2025-11-27T01:14:19.190' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Staff] ([StaffId], [StaffCode], [FullName], [Gender], [Email], [Phone], [HireDate], [Degree], [LicenseExpireDate], [IsActive], [CreatedAt], [UserId], [Address], [LicenseNo], [LicenseIssueDate], [AvatarPath], [BirthDate]) VALUES (5, N'DS002', N'huyền', N'Nữ', N'huyen@gmail.com', N'0364790000', CAST(N'2025-11-13' AS Date), N'CĐ', CAST(N'2028-01-27' AS Date), 1, CAST(N'2025-11-27T01:33:11.800' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Staff] ([StaffId], [StaffCode], [FullName], [Gender], [Email], [Phone], [HireDate], [Degree], [LicenseExpireDate], [IsActive], [CreatedAt], [UserId], [Address], [LicenseNo], [LicenseIssueDate], [AvatarPath], [BirthDate]) VALUES (7, N'DS003', N'Anh Tiền', N'Nam', N'anhtien@gmail.com', N'0123456789', CAST(N'2025-11-13' AS Date), N'ĐH', CAST(N'2028-01-27' AS Date), 0, CAST(N'2025-11-27T01:41:48.853' AS DateTime), NULL, NULL, NULL, NULL, NULL, CAST(N'2025-11-30' AS Date))
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [SupplierPhone], [Address], [Description]) VALUES (1, N'abc', NULL, NULL, NULL)
INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [SupplierPhone], [Address], [Description]) VALUES (2, N'abcd', NULL, NULL, NULL)
INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [SupplierPhone], [Address], [Description]) VALUES (3, N'abcde', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [Role], [CreatedAt], [RoleId]) VALUES (1, N'Huyen Test', N'test@example.com', N'123456', N'Staff', CAST(N'2025-11-16T13:34:53.017' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [Role], [CreatedAt], [RoleId]) VALUES (2, N'User Test', N'usertest@example.com', N'123456', N'Staff', CAST(N'2025-11-16T13:41:55.663' AS DateTime), 2)
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [Role], [CreatedAt], [RoleId]) VALUES (3, N'anhthu', N'anhthu@gmail.com', N'123', N'Staff', CAST(N'2025-11-16T13:44:34.080' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouses] ON 

INSERT [dbo].[Warehouses] ([WarehouseId], [WarehouseName], [WarehouseCode], [Description]) VALUES (1, N'Kho chính', N'MAIN', N'Kho tổng của nhà thuốc')
INSERT [dbo].[Warehouses] ([WarehouseId], [WarehouseName], [WarehouseCode], [Description]) VALUES (2, N'Kho quầy', N'COUNTER', N'Kho quầy bán lẻ')
INSERT [dbo].[Warehouses] ([WarehouseId], [WarehouseName], [WarehouseCode], [Description]) VALUES (3, N'Kho chờ hủy', N'DISPOSE', N'Kho để hàng lỗi hoặc chờ hủy')
SET IDENTITY_INSERT [dbo].[Warehouses] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E08096DF7E]    Script Date: 12/4/2025 4:06:47 PM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__8884ABD4281090B5]    Script Date: 12/4/2025 4:06:47 PM ******/
ALTER TABLE [dbo].[Permissions] ADD UNIQUE NONCLUSTERED 
(
	[PermissionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__2F4E024FCF7264A1]    Script Date: 12/4/2025 4:06:47 PM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Receipts__56C64C17A6932C61]    Script Date: 12/4/2025 4:06:47 PM ******/
ALTER TABLE [dbo].[Receipts] ADD UNIQUE NONCLUSTERED 
(
	[VoucherNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160EC02A6B6]    Script Date: 12/4/2025 4:06:47 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Staff_Email]    Script Date: 12/4/2025 4:06:47 PM ******/
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [UQ_Staff_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Staff_Phone]    Script Date: 12/4/2025 4:06:47 PM ******/
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [UQ_Staff_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Staff_StaffCode]    Script Date: 12/4/2025 4:06:47 PM ******/
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [UQ_Staff_StaffCode] UNIQUE NONCLUSTERED 
(
	[StaffCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534F0BD6B4E]    Script Date: 12/4/2025 4:06:47 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Warehous__1686A0563D8B33AE]    Script Date: 12/4/2025 4:06:47 PM ******/
ALTER TABLE [dbo].[Warehouses] ADD UNIQUE NONCLUSTERED 
(
	[WarehouseCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (N'Paid') FOR [Status]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Receipts] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Receipts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Receipts] ADD  DEFAULT ((1)) FOR [WarehouseId]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([InvoiceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Invoices]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Products]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers]
GO
ALTER TABLE [dbo].[ProductCategories]  WITH CHECK ADD  CONSTRAINT [FK_ProductCategories_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[ProductCategories] CHECK CONSTRAINT [FK_ProductCategories_Categories]
GO
ALTER TABLE [dbo].[ProductCategories]  WITH CHECK ADD  CONSTRAINT [FK_ProductCategories_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ProductCategories] CHECK CONSTRAINT [FK_ProductCategories_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
ALTER TABLE [dbo].[ReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ReceiptDetails] CHECK CONSTRAINT [FK_ReceiptDetails_Products]
GO
ALTER TABLE [dbo].[ReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptDetails_Receipts] FOREIGN KEY([ReceiptId])
REFERENCES [dbo].[Receipts] ([ReceiptId])
GO
ALTER TABLE [dbo].[ReceiptDetails] CHECK CONSTRAINT [FK_ReceiptDetails_Receipts]
GO
ALTER TABLE [dbo].[Receipts]  WITH CHECK ADD  CONSTRAINT [FK_Receipts_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[Receipts] CHECK CONSTRAINT [FK_Receipts_Suppliers]
GO
ALTER TABLE [dbo].[Receipts]  WITH CHECK ADD  CONSTRAINT [FK_Receipts_Warehouses] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[Receipts] CHECK CONSTRAINT [FK_Receipts_Warehouses]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([PermissionId])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Permissions]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[WarehouseStock]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseStock_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[WarehouseStock] CHECK CONSTRAINT [FK_WarehouseStock_Products]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPermissionsByUser]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetPermissionsByUser]
    @UserID INT
AS
BEGIN
    SELECT DISTINCT p.PermissionKey
    FROM Users u
    JOIN Roles r ON r.RoleID = u.RoleID
    JOIN RolePermissions rp ON rp.RoleID = r.RoleID
    JOIN Permissions p ON p.PermissionID = rp.PermissionID
    WHERE u.UserID = @UserID;
END
GO
ALTER AUTHORIZATION ON [dbo].[sp_GetPermissionsByUser] TO  SCHEMA OWNER 
GO
/****** Object:  StoredProcedure [dbo].[sp_User_Login]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TẠO LẠI PROC LOGIN
CREATE PROC [dbo].[sp_User_Login]
    @Email    NVARCHAR(100),
    @Password NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    /*
        KẾT QUẢ TRẢ VỀ:
        - UserID
        - StaffID  (nếu có nhân viên tương ứng)
        - FullName
        - Role     : ưu tiên Roles.RoleName, nếu null thì dùng Users.Role
        - RoleID   : để sau này dùng phân quyền chi tiết (nếu cần)
    */

    SELECT TOP 1
        u.UserID,
        s.StaffID,
        u.FullName,
        COALESCE(r.RoleName, u.Role) AS Role,    -- Admin / Dược sĩ
        u.RoleID
    FROM dbo.Users u
    LEFT JOIN dbo.Staff s ON s.UserID = u.UserID
    LEFT JOIN dbo.Roles r ON r.RoleID = u.RoleID
    WHERE u.Email    = @Email
      AND u.Password = @Password;
      -- Nếu muốn chặn nhân viên bị khóa thì thêm:
      -- AND (s.IsActive = 1 OR s.StaffID IS NULL)
END;
GO
ALTER AUTHORIZATION ON [dbo].[sp_User_Login] TO  SCHEMA OWNER 
GO
/****** Object:  StoredProcedure [dbo].[sp_User_Register]    Script Date: 12/4/2025 4:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_User_Register]
    @FullName NVARCHAR(100),
    @Email    NVARCHAR(100),
    @Password NVARCHAR(200),
    @Role     NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Không cho trùng email
    IF EXISTS (SELECT 1 FROM dbo.[Users] WHERE Email = @Email)
    BEGIN
        RAISERROR (N'Email này đã được sử dụng.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.[Users](FullName, Email, [Password], [Role])
    VALUES (@FullName, @Email, @Password, @Role);

    -- Trả về ID mới để C# hiện lên
    SELECT SCOPE_IDENTITY() AS NewUserID;
END
GO
ALTER AUTHORIZATION ON [dbo].[sp_User_Register] TO  SCHEMA OWNER 
GO
USE [master]
GO
